<style>
    body {
        font-size: 14px;
        font-family: Ubuntu;
    }
</style>

<script>
    function load() {
        window.webSocket = new WebSocket('ws://localhost:PORT');

        window.webSocket.onclose = function () {
            console.error('Notes: websocket closed');
        };

        window.webSocket.onerror = function (error) {
            console.error('Notes: websocket', error);
        };

        window.webSocket.onopen = function () {
            console.log('Notes: websocket opened');
        };
    }

    window.addEventListener('load', load, false);

    function handleClick(event) {
        var idFields = event.srcElement.id.split('/');
        if (idFields[0] === 'en-todo') {
            var data = {
                type: 'checkboxChanged',
                todoId: idFields[1],
                checked: event.srcElement.checked,
            };

            console.log(data);
            window.webSocket.send(JSON.stringify(data));
        }
        else if (idFields[0] === 'en-attachment') {
            var data = {
                type: 'attachmentOpened',
                resourceHash: idFields[1],
                mediaType: idFields[2] + '/' + idFields[3],
            };

            console.log(data);
            window.webSocket.send(JSON.stringify(data));
        }
    }

    window.addEventListener('click', handleClick);
</script>
